<div class="card">
  <div class="card-body">
    <h2>Dados de contato</h2>
    <a href="tel:+550000000000" aria-label="Ligar para a escola."
      ><i class="fa fa-phone"></i> (51) 3364-1065</a
    >
    <a href="mailto:example@mail.com" class="email" aria-label="Enviar e-mail para a escola."
      ><i class="fa fa-envelope"></i> emeb.liberatosalzana@smed.prefpoa.com.br</a
    >
    <a href="https://websmed.portoalegre.rs.gov.br/escolas/liberatom" aria-label="Enviar e-mail para a escola."
      ><i class="fa fa-globe"></i> Site</a
    >
  </div>
</div>

<div class="card">
  <div class="card-body">
    <form>
      <h2>Entre em contato</h2>
      <div class="form-group">
        <label for="nome-usuario">Seu nome:</label>
        <input
          type="text"
          class="form-control"
          id="nome-usuario"
        />
      </div>
      <div class="form-group">
        <label for="email-contato">Seu e-mail:</label>
        <input
          type="email"
          class="form-control"
          id="email-contato"
        />
      </div>
      <div class="form-group">
        <label for="telefone-usuario">Seu telefone:</label>
        <input
          type="number"
          class="form-control"
          id="telefone-usuario"
        />
      </div>
      <div class="form-group">
        <label for="mensagem">Sua mensagem para a escola:</label>
        <textarea
          type="password"
          class="form-control"
          id="mensagem"
        ></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Enviar mensagem</button>
    </form>
  </div>
</div>

<!--
    municipal
    atividade complementar

-->