section {
  text-align: center;
}

section img {
  width: 70%;
  margin: 7rem 0 4rem;
}

section p {
  max-width: 350px;
  width: 80%;
  margin: auto;
  margin-bottom: 3rem;
}

.btn-onboard {
  color: #fff;
  background-color: var(--azul-escuro);
  border-color: var(--azul-escuro);
}
