<div class="accordion" id="info-geral">
  <div class="card card-geral">
    <button
      class="btn btn-link collapsed"
      type="button"
      data-toggle="collapse"
      data-target="#collapseGuia"
      aria-expanded="false"
      aria-controls="collapseGuia"
    >
      <div class="card-header" id="headingGuia">
        <h2 class="mb-0">
          Guia pela escola
        </h2>
      </div>
    </button>

    <div
      id="collapseGuia"
      class="collapse"
      aria-labelledby="headingGuia"
      data-parent="#info-geral"
    >
      <div class="card-body">
        <div class="video-container">
          <iframe
            class="video-tour"
            src="https://youtube.com/embed/Yb3mUxjPqr8"
          ></iframe>
        </div>
        <p class="descricao-tour">
          Descrição: No vídeo pode-se visualizar as dependências da escola. É
          possível ver que a escola dispõe de acessibilidade para alunos com
          necessidades especiais, quadra esportiva, biblioteca, cozinha e
          laboratório de informática devidamente equipados.
        </p>
      </div>
      <section class="social-share text-center">
        <a href="#" class="fa fa-facebook"></a>
        <a href="#" class="fa fa-whatsapp"></a>
        <a href="#" class="fa fa-google"></a>
      </section>
    </div>
  </div>
  <div class="card card-geral">
    <button
      class="btn btn-link collapsed"
      type="button"
      data-toggle="collapse"
      data-target="#collapseInfra"
      aria-expanded="false"
      aria-controls="collapseInfra"
    >
      <div class="card-header" id="headingInfra">
        <h2 class="mb-0">
          Infraestrutura
        </h2>
      </div>
    </button>
    <div
      id="collapseInfra"
      class="collapse"
      aria-labelledby="headingInfra"
      data-parent="#info-geral"
    >
      <div class="card-body">
        <ul>
          <li>Alimentação: sim</li>
          <li>Laboratório de informática: sim</li>
          <li>Quadra coberta: sim</li>
          <li>Quadra aberta: sim</li>
          <li>Biblioteca: sim</li>
          <li>Sala de leitura: não</li>
          <li>Parque infantil: sim</li>
          <li>Refeitório: sim</li>
          <li>Pátio coberto: não</li>
          <li>Pátio aberto: sim</li>
          <li>Área verde: sim</li>
          <li>Internet: sim</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="card card-geral">
    <button
      class="btn btn-link collapsed"
      type="button"
      data-toggle="collapse"
      data-target="#collapseMetodo"
      aria-expanded="false"
      aria-controls="collapseMetodo"
    >
      <div class="card-header" id="headingMetodo">
        <h2 class="mb-0">
          Método de ensino
        </h2>
      </div>
    </button>
    <div
      id="collapseMetodo"
      class="collapse"
      aria-labelledby="headingMetodo"
      data-parent="#info-geral"
    >
      <div class="card-body">
        <h3>Metodologia de ensino Construtivista</h3>
        <p>
          Essa metodologia de ensino entende que o aluno é a peça central na
          aprendizagem. Por isso, ele deve ser estimulado a conquistar
          independência, resolver problemas e elaborar hipóteses e perguntas.
        </p>
      </div>
    </div>
  </div>
  <div class="card card-geral">
    <button
      class="btn btn-link collapsed"
      type="button"
      data-toggle="collapse"
      data-target="#collapseValores"
      aria-expanded="false"
      aria-controls="collapseValores"
      disabled
    >
      <div class="card-header" id="headingValores">
        <h2 class="mb-0">
          Bolsas e valores
        </h2>
      </div>
    </button>
    <div
      id="collapseValores"
      class="collapse"
      aria-labelledby="headingValores"
      data-parent="#info-geral"
    >
      <div class="card-body">
        <p>Valor: 800,00</p>
        <p>
          Oferece bolsa? Sim. Para mais informações, entre em contato com a
          instituição.
        </p>
      </div>
    </div>
  </div>
  <div class="card card-geral">
    <button
      class="btn btn-link collapsed"
      type="button"
      data-toggle="collapse"
      data-target="#collapseA11y"
      aria-expanded="false"
      aria-controls="collapseA11y"
    >
      <div class="card-header" id="headingA11y">
        <h2 class="mb-0">
          Acessibilidade
        </h2>
      </div>
    </button>
    <div
      id="collapseA11y"
      class="collapse"
      aria-labelledby="headingA11y"
      data-parent="#info-geral"
    >
      <div class="card-body">
        <ul>
          <li>Sala de atendimento especial: sim</li>
          <li>Classe especial exclusiva: não</li>
          <li>Banheiro acessível: sim</li>
          <li>Dependências: sim</li>
          <li>Atendimento educacional especial: sim</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="card card-geral">
    <button
      class="btn btn-link collapsed"
      type="button"
      data-toggle="collapse"
      data-target="#collapseLocalizacao"
      aria-expanded="false"
      aria-controls="collapseLocalizacao"
    >
      <div class="card-header" id="headingLocalizacao">
        <h2 class="mb-0">
          Localização
        </h2>
      </div>
    </button>
    <div
      id="collapseLocalizacao"
      class="collapse"
      aria-labelledby="headingLocalizacao"
      data-parent="#info-geral"
    >
      <div class="card-body">
        <p>Rua Xavier de Carvalho, 274 - Sarandi</p>
        <img src="assets/images/maps.png" alt="#" class="img-fluid" />
      </div>
    </div>
  </div>
</div>
